body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;

    background: #fff;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.container-header {
    display: flex;
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: space-between;
}

.container h1 {
    background: #eee;
}

.main-header,
.slides,
.pattern-particular,
.wrapper {
    background: #eee;
}

.main-navigation {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 49px;
    width: 800px;
    justify-content: space-between; 
}

.site-navigation {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    width: 438px;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.basket {
    width: 115px;
    text-align: right;
    margin-top: 75px;
    position: relative;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}

.basket::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7px;
    left: 0;
    background: url("../img/basket-icon.svg") no-repeat;
    filter: opacity(0.3);
}

.site-navigation a,
.basket {
    color: #000;
}

.site-navigation a:hover,
.basket:hover,
.site-navigation a:focus,
.basket:focus {
    color: #fb565a;
}

.site-navigation a:active,
.basket:active,
.site-navigation a:active,
.basket:active {
    color: #000;
    filter: opacity(0.3);
}

.basket:active::before {
    filter: opacity(1);
}

.site-navigation,
.products-list,
.social-list,
.catalog-list,
.pattern-type,
.slides-list,
.slides-switches,
.customers-list,
.assortment-categories,
.assortment-direction,
.orders-list {
    list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    margin-bottom: 80px;
}

.container {
    display: flex;
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.slides {
    flex-direction: column;
    position: relative; 
}

.slides-list,
.slides-switches {
    padding: 0;
    margin: 0;
}

.button-slide {
    display: block;
    width: 240px;
    padding: 16px 0;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    background: #fb565a;
}

.button-slide:hover,
.button-slide:focus {
    background: #e74246;
}

.button-slide:active {
    background: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.slides-item {
    display: none;
    padding-top: 78px;
    padding-bottom: 80px;
}

.slide-slogan {
    display: block;
    max-width: 600px;
    margin-bottom: 27px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 600;
    color: #000;
}

.slides-item:nth-child(3) .slide-slogan {
    max-width: 410px;
}

.slides-item:nth-child(1) p,
.slides-item:nth-child(2) p {
    margin: 0;
    max-width: 410px;
    margin-bottom: 40px;
}

.slides-item:nth-child(3) p {
    margin: 0;
    max-width: 350px;
    margin-bottom: 40px;
}

.slides-item:nth-child(1) {
    background: url("../img/slide-1.png") no-repeat 93% 18px;
}

.slides-item:nth-child(2) {
    background: url("../img/slide-2.png") no-repeat right;
}

.slides-item:nth-child(3) {
    background: url("../img/slide-3.png") no-repeat right 18px;
}

.slides-controls {
    position: absolute;
    font-size: 0;
    top: 313px;
    left: 552px;
}

.slides-controls label {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 17px;
    cursor: pointer;
}

.slide-control-1::before,
.slide-control-2::before,
.slide-control-3::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 4px;
    left: 4px;
    background: white;
    border-radius: 50%;
}

.slide-1:checked ~ .slides-controls .slide-control-1::after,
.slide-2:checked ~ .slides-controls .slide-control-2::after,
.slide-3:checked ~ .slides-controls .slide-control-3::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 50%;
    left: 50%;
    background: white;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slide-1:checked ~ .slides-list .slides-item:nth-child(1),
.slide-2:checked ~ .slides-list .slides-item:nth-child(2),
.slide-3:checked ~ .slides-list .slides-item:nth-child(3) {
    display: block;
}

.products {
    position: relative;
    padding-bottom: 80px;
    margin-bottom: 41px;
}

.products::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 1160px;
    height: 1px;
    background: rgba(40, 49, 54, 0.2);

}

.products-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 1100px;
    justify-content: space-between;
}

.products-item {
    width: 300px;
}

.products-item h3 {
    margin: 171px 0 15px 0;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
}

.products-item p {
    margin: 0 0 33px 0;
    padding: 0;
    max-width: 260px;
}

.products-web {
    background: url("../img/illustration-web.png") no-repeat top center;
}

.products-app {
    background: url("../img/illustration-app.png") no-repeat top center;
}

.products-presentation {
    background: url("../img/illustration-presentation.png") no-repeat top center;
}

.button {
    display: block;
    word-break: break-all;
    padding: 16px 0;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
}

.button-web {
    width: 160px;
    background: #fb565a;
}

.button-app {
    width: 160px;
    background: #00ca74;
}

.button-presentation {
    width: 160px;
    background: #efc84a;
}

.button-web:hover,
.button-web:focus {
    background: #e74246;
}

.button-app:hover,
.button-app:focus {
    background: #00bc6c;
}

.button-presentation:hover,
.button-presentation:focus {
    background: #eab534;
}

.button-web:active {
    background: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.button-app:active {
    background: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}

.button-presentation:active {
    background: #e5a722;
    color: rgba(255, 255, 255, 0.3);
}

.about-us {
    position: relative;
    margin-bottom: 48px;
    padding-bottom: 50px;
    justify-content: space-between;
}

.about-us::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 1160px;
    height: 1px;
    background: rgba(40, 49, 54, 0.2);
}

.about-us .left-column {
    display: flex;
    width: 660px;
    flex-direction: column;
}

.about-us .right-column {
    display: flex;
    width: 360px;
    flex-direction: column;
}

.about-us b {
    max-width: 660px;
    margin: 36px 0 33px 0;
    font-size: 45px;
    line-height: 45px;
    color: #000;
}

.about-us p:nth-of-type(1) {
    max-width: 660px;
    margin: 0 0 38px 0;
}

.about-us p:nth-of-type(2) {
    max-width: 660px;
    margin: 0 0 24px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.about-us .orders-list {
    margin: 0;
    padding: 0;
}

.about-us .orders-item {
    display: block;
    position: relative;
    padding-left: 36px;
    margin-bottom: 24px;
}

.about-us .orders-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 3px;
    background: #fb565a;
}

.about-us img {
    margin-bottom: 37px;
}

.about-us table {
    display: flex;
    flex-direction: column;
}

.about-us caption {
    font-weight: bold;
    text-transform: uppercase;
}

.about-us tr:last-child {
    font-size: 45px;
    line-height: 10.06px;
    color: #000;
}

.about-us tr:first-child {
    order: 1;
}

.customers-list {
    margin-bottom: 82px;
    padding-bottom: 43px;
    position: relative;
}

.customers-list::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 1160px;
    height: 1px;
    background: rgba(40, 49, 54, 0.2);
}

.customers-list {
    justify-content: space-between;
}

.customer-item {
    width: 260px;
    display: flex;
    position: relative;
}

.customer-item::after {
    content: "";
    position: absolute;
    top: 42px;
    right: -45px;
    width: 52px;
    height: 1px;
    background: rgba(40, 49, 54, 0.2);
    transform: rotate(90deg);
}

.customer-item:last-child::after {
    display: none;
}

.customer-item a {
    display: flex;
    margin: auto;
    filter: opacity(0.2);
}

.customer-item a:hover,
.customer-item a:focus {
    filter: opacity(1);
}

.customer-item a:active {
    filter: opacity(0.1);
}

.customer-item:nth-child(1) {
    padding-top: 10px;
}

.customer-item:nth-child(4) {
    align-self: flex-end;
}

.contacts {
    display: flex;
    width: 1440px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 65px;
    flex-direction: column;
    position: relative;
}

.map {
    width: 1440px;
    height: 416px;
}

.map-marker {
    width: 231px;
    height: 190px;
    position: absolute;
    top: 90px;
    left: 820px;
}

.contacts-particular {
    display: flex;
    padding: 50px 50px 47px 50px;
    margin: 0;
    max-width: 319px;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 140px;
    background: #fff;
}

.contacts-particular b {
    padding-bottom: 22px;
    font-size: 18px;
    line-height: 30px;
}

.contacts-particular p {
    margin: 0;
    padding-left: 2px;
    max-width: 219px;
    font-size: 16px;
    line-height: 18px;
    color: #666;
}

.contacts-particular p:nth-of-type(1) {
    margin-bottom: 18px;
}

.contacts-particular p:nth-of-type(2) {
    margin-bottom: 39px;
}

.contacts-button {
    background: #fb565a;
    width: 219px;
}

.contacts-button:hover,
.contacts-button:focus {
    background: #e74246
}

.contacts-button:active {
    background: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.modal-feedback {
    display: none;          /*временно*/
    /*display: flex;*/
    padding: 0;
    margin: 0 auto;
    width: 960px;
    flex-direction: column;
}

.main-footer {
    justify-content: space-between;
}

.social-list {
    display: flex;
    width: 260px;
    margin: 0;
    padding: 0;
}

.social-button {
    display: inline-block;
    width: 78px;
    height: 78px;
    margin-right: 13px;
    border-radius: 50%;
    font-size: 0;
}

.vk-button {
    background: #e1e1e1 url("../img/vk-icon.svg") no-repeat 50% 50%;
}

.fb-button {
    background: #e1e1e1 url("../img/fb-icon.svg") no-repeat 50% 50%;
}

.insta-button {
    background: #e1e1e1 url("../img/insta-icon.svg") no-repeat 50% 50%;
}

.friendship {
    width: 760px;
    padding-top: 10px;
}

.friendship b{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
    color: #000;
}

.friendship p{
    margin: 0;
    line-height: 22px;
    color: #444;
}

.catalog-wrapper {
    background: #eee;
    margin-bottom: 55px;
}

.catalog-title h1 {
    padding: 0;
    margin: 0;
    font-size: 55px;
    font-weight: bold;
    line-height: 55px;
    color: #000;
}

.catalog-title {
    padding-top: 80px;
    padding-bottom: 115px;
    justify-content: center;
}

.catalog-columns {
    justify-content: space-between;
}

.right-column {
    display: flex;
    width: 760px;
    flex-direction: column;
    margin-bottom: 60px;
}

.assortment-form {
    width: 760px;
    margin-bottom: 55px;
}

.assortment-categories,
.assortment-form p,
.assortment-direction {
    padding: 0;
    margin: 0;
}

.catalog-list {
    display: flex;
    width: 760px;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-item {
    width: 360px;
}

.pagination-list {
    display: flex;
    width: 460px;
    margin: 0;
    padding: 0;
}

.pattern-particular h3 {
    margin: 0;
}

.pattern-name {
    font-size: 18px;
    line-height: 30px;
    color: #000;
}

.catalog-item p {
    font-size: 16px;
    line-height: 18px;
    color: #666;
}

.button-long {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    background: #fb565a;
}

.button-long:hover {
    background: #e74246;
}

.button-long:active {
    background: #d7373b;
}

.filter {
    width: 260px;
    flex-direction: column;
}

.filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #000;

    text-transform: uppercase;
}

.filter-option {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
}

.button-filter {
    color: #000;
    text-transform: uppercase;
    background: #eee;
}

.button-filter:hover {
    background: #dfdfdf;
}

.button-filter:active {
    background: #d5d5d5;
}

.button-filter:active span {
    filter: opacity(0.3);
}
