body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;

    background: #fff;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.container h1 {
    background: #eee;
}

.main-header,
.slides,
.pattern-particular {
    background: #eee;
}

.site-navigation {
    font-size: 16px;
    line-height: 30px;
}

.site-navigation a,
.basket {
    color: #000;
}

.site-navigation a:hover,
.basket:hover,
.site-navigation a:focus,
.basket:focus {
    color: #fb565a; 
}

.site-navigation,
.products-list,
.social-list,
.catalog-list,
.pattern-type,
.slides-switches {
    list-style: none;
}

.button-slide {
    font-size: 16px;
    line-height: 18px;
    background: #fb565a;
}

.slide-slogan {
    font-size: 55px;
    line-height: 55px;
    color: #000;
}

.slides-item:nth-child(1) {
    background: url("../img/slide-1.png") no-repeat right;
}

.slides-item:nth-child(2) {
    background: url("../img/slide-2.png") no-repeat right;
}    

.slides-item:nth-child(3) {
    background: url("../img/slide-3.png") no-repeat right;
}

.products-item h3 {
    font-size: 24px;
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
}

.products-web {
    background: url("../img/illustration-web.png") no-repeat center;
}

.products-app {
    background: url("../img/illustration-app.png") no-repeat center;
}

.products-presentation {
    background: url("../img/illustration-presentation.png") no-repeat center;
}

.button {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}

.button-web {
    background: #fb565a;
}

.button-app {
    background: #00ca74;
}

.button-presentation {
    background: #efc84a;
}

.button-web:hover {
    background: #e74246;
}

.button-app:hover {
    background: #00bc6c;
}

.button-presentation:hover {
    background: #eab534;
}

.button-web:active {
    background: #d7373b;
}

.button-app:active {
    background: #00aa62;
}

.button-presentation:active {
    background: #e5a722;
}

.button-web:active span{
    filter: opacity(0.3);
}

.button-app:active span{
    filter: opacity(0.3);
}

.button-presentation:active span{
    filter: opacity(0.3);
}

.main-footer b {
    font-size: 36px;
    line-height: 36px;
    color: #000;
}

.main-footer p {
    line-height: 22px;
    color: #444;
}

.pattern-name {
    font-size: 18px;
    line-height: 30px;
    color: #000;
}

.catalog-item p {
    font-size: 16px;
    line-height: 18px;
    color: #666;
}

.button-long {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    background: #fb565a;
}

.button-long:hover {
    background: #e74246;
}

.button-long:active {
    background: #d7373b;
}

.filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #000;

    text-transform: uppercase;
}

.filter-option {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
}

.button-filter {
    color: #000;
    text-transform: uppercase;
    background: #eee;
}

.button-filter:hover {
    background: #dfdfdf;
}

.button-filter:active {
    background: #d5d5d5;
}

.button-filter:active span {
    filter: opacity(0.3);
}
